@model HRMS.Attendance.DTOs.AttendanceDto

@{
    ViewData["Title"] = "Attendance Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Attendance</h4>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.ID</dd>

        <dt class="col-sm-3">Employee Name</dt>
        <dd class="col-sm-9">@Model.EmployeeName</dd>

        <dt class="col-sm-3">In Time</dt>
        <dd class="col-sm-9">@Model.InTime</dd>

        <dt class="col-sm-3">Out Time</dt>
        <dd class="col-sm-9">@Model.OutTime</dd>

        <dt class="col-sm-3">Status</dt>
        <dd class="col-sm-9">@Model.Status</dd>

        <dt class="col-sm-3">Total Working Hours</dt>
        <dd class="col-sm-9">@Model.TotalWorkingHours</dd>

        <dt class="col-sm-3">Attendance Date</dt>
        <dd class="col-sm-9">@Model.AttendanceDate</dd>
    </dl>

    <a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-primary">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</div>
